name: Lint with Black

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  black:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4    # Checkout the repo
      - uses: actions/setup-python@v5  # Setup Python environment
        with:
          python-version: '3.12'      # Use your preferred Python version
      - name: Install Black
        run: python -m pip install black
      - name: Run Black
        run: black --check .          # Checks formatting without changing files
